<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
  <header>
    <div class="logo"></div>
    <nav>
      <ul class="nav-links">
        <li><a href="">Home</a></li>
        <li><a href="projetcs">Projetcs</a></li>
        <li><a href="blogs">Blogs</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="about">About Me</a></li>
      </ul>
    </nav>
  </header>
  <div class="intro">
  <img src="{% static 'images/dp.jpg' %}" alt="dp" class="dp">
  
  <div class="text-content">
    <p class="role">
        <br><br><br><br>
      Hey! I’m Yuthila Banuka <br>
      AI & ML enthusiast | AI Automation
    </p>
    
    
  </div>
</div>

</body>
</html>